<div id="nation_details">
    <h1> Nation: <%= @nation.gsub("+", " ").titleize %> </h1>
    <p> Population: <%= @characters.count %> </p>
</div>
<div id="characters">
    <% @first_25_characters.each_with_index do |character, index| %>
        <div id="character_<%= index + 1 %>">
            <h2> Name: <%= character.name %> </h2>
            <img src="<%= character.picture %>" alt="<%= character.name %>">
            <p> Affiliations: <%= character.affiliations %> </p>
            <p> Allies: </p>
            <ul id="allies"> 
                <% if character.allies.empty? %>
                    <li> None </li>
                <% else %>
                    <% character.allies.each do |ally| %>
                        <li> <%= ally %> </li> 
                    <% end %>
                <% end %>
            </ul>
            <p> Enemies: </p>
            <ul id="enemies">
                <% if character.enemies.empty? %>
                    <li> None </li>
                <% else %>
                    <% character.enemies.each do |enemy| %>
                        <li> <%= enemy %> </li>
                    <% end %>
                <% end %>
        </div>
    <% end %>
</div>
